In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
df=pd.read_csv("/home/dheeraj/my_projects/my_project_env/practice/6th_sem_Academics/SocialNetworkAnalysis/Course Project/Experiment 1/Extended/Facebook/shell_37.csv",encoding = "ISO-8859-1")
df

     Unnamed: 0  node  inspow
0             1   897    3947
1             2   903    3889
2             3   958    3943
3             4   976    3946
4             5   982    3880
..          ...   ...     ...
121         122  3398    3901
122         123  3417    3941
123         124  3420    3948
124         125  3435    3953
125         126  3436    3937

[126 rows x 3 columns]

In [70]:
df1= pd.DataFrame(df)
df1['Diffusion_Capacity'] = df1["inspow"]

In [ ]:
df1.plot( x='node', y='Diffusion_Capacity', kind='bar',figsize=(20, 8), edgecolor='k', color= "lightgreen")
plt.xlabel('Nodes in shell 37', fontsize =18)
plt.ylabel('Diffusion Capacity',fontsize =18)
plt.title('Diffusion Capacity of each Nodes in shell 37 (considered as Pseudocore) of \nFacebook Friendship network ',fontweight='bold',fontsize =19)
SMALL_SIZE = 8
MEDIUM_SIZE = 10
BIGGER_SIZE = 10
plt.ylim((0,5000))
plt.legend(["Number of nodes"], prop={"size":10})

plt.rc('xtick', labelsize=BIGGER_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=BIGGER_SIZE)
# plt.get_xticklabels()[1].set_fontweight("bold")